[2019-07-27 13:48] JavierSegoviaCordoba opened #1 "Cannot access class 'com.haroldadmin.cnradapter.NetworkResponse'."
Cannot access class 'com.haroldadmin.cnradapter.NetworkResponse'. Check your module classpath for missing or conflicting dependencies.

[2019-07-27 13:57] haroldadmin commented on #1
Can you add more information regarding the error? A `build.gradle` config file would be great!

[2019-07-27 14:10] JavierSegoviaCordoba commented on #1
This is all the info I have. Really the classes are imported, the error is there anyway.
![image](https://user-images.githubusercontent.com/7463564/61995443-01e05d00-b089-11e9-9982-54215819a3ae.png)
[code]

[2019-07-27 14:14] haroldadmin commented on #1
I just realized that the artifact coordinates in the README file are incorrect. I updated the repository name a little while back but forgot to update the readme file. Are you using the following dependency: `com.github.haroldadmin:NetworkResponseAdapter:2.0.2` ?

I'll push out a fix in a some time.

[2019-07-27 14:18] JavierSegoviaCordoba commented on #1
Both dependencies have the same problem for me. Invalidating caches doesn't work too

[2019-07-27 14:28] JavierSegoviaCordoba commented on #1
@haroldadmin can you mention me when the fix is out please?

[2019-07-27 14:40] haroldadmin commented on #1
I am looking into the issue right now. Trying to reproduce it on my system. If I can't reproduce it, would you consider making a small repository/project which i can use to reproduce the issue?

[2019-07-27 14:41] JavierSegoviaCordoba commented on #1
Take a look at your email, I can share via Telegram for example

[2019-07-27 14:58] JavierSegoviaCordoba commented on #1
I think I fixed it, I was accessing the classes from a module without the dependency, but Android Studio was letting me to import them... thank you for your help!

[2019-07-27 14:58] #1 closed

[2019-08-11 18:39] JavierSegoviaCordoba opened #2 "Compatibility with suspend functions"
At this moment the library is working with deferred and normal functions but if you try to use the new Retrofit support for suspend functions without the deferred wrapper it is not working.

[2019-08-11 18:40] haroldadmin commented on #2
Thanks for bringing this up. I'll work on adding support for suspending functions for the next release.

[2019-09-14 18:40] haroldadmin commented on #2
Support added via [this PR](https://github.com/haroldadmin/NetworkResponseAdapter/pull/3). This will be released as a 3.0 release, because there are some potentially breaking changes in the API.

`CoroutinesNetworkResponseAdapter` and `CoroutinesNetworkResponseAdapterFactory` classes have been deprecated, and replaced with `NetworkResponseAdapter` and `NetworkResponseAdapterFactory` classes.

[2019-09-14 18:41] #2 closed

[2019-10-18 12:08] almeric opened #4 "Unsuccessful responses don't return converted error object"
Hi,

Just tested your adapter, but when calling a end-point which returns a 404 I'm not getting the converted error object back in the NetworkResponse.ServerError() (`body` is always null).

It looks like here https://github.com/haroldadmin/NetworkResponseAdapter/blob/master/src/main/kotlin/com/haroldadmin/cnradapter/NetworkResponseCall.kt#L22 it will always return a `null` body, and the actual er

[2019-10-18 16:38] haroldadmin commented on #4
Thank you for filing this bug. It does appear that the `NetworkResponseCall` class does not handle the `ServerError` case correctly. But since this issue is related to this class only, the problem is only confined to `suspend` methods. Methods using the `Deferred` return type should continue to work for now.

I'll fix this error and add tests to make sure this does not resurface in the future.

[2019-10-18 17:03] #4 closed

[2019-10-18 17:07] haroldadmin commented on #4
@almeric This has been fixed and is now available in Version 3.0.1. Thank you for reporting this issue 😊

[2019-10-18 17:58] almeric commented on #4
Thanks for the quick fix!

[2020-02-06 11:44] vasskob opened #5 "List<T> as Success body"
Hello. What about handling List of items in success body response like
suspend fun getEntitys(): NetworkResponse<List<Entity>, ErrorResponse>

[2020-02-06 11:53] #5 closed

[2020-02-06 11:54] haroldadmin commented on #5
Hello! This is already supported and works well. For an illustration you can check [this file](https://github.com/haroldadmin/MoonShot/blob/b48a67770c4eea36a30dc020642bd1d207a50307/spacex-api-wrapper/src/main/java/com/haroldadmin/spacex_api_wrapper/launches/LaunchesService.kt#L25) in another project of mine.

This library does not handle serialization/deserialization of the responses. It delegates

[2020-02-18 15:14] sebaslogen opened #6 "Moshi parsing exceptions are swallowed"
Moshi parsing exceptions are swallowed when data parsing fails.

The culprit is this line that rethrows exceptions instead of parsing them into unknown/generic errors:
https://github.com/haroldadmin/NetworkResponseAdapter/blob/master/src/main/kotlin/com/haroldadmin/cnradapter/ErrorExtraction.kt#L32

Strange enough, the exception is logged to logcat but wrapping the suspend function with a try/catc

[2020-02-19 14:13] haroldadmin commented on #6
Is it possible that you're running a [CoroutineExceptionHandler](https://kotlinlang.org/docs/reference/coroutines/exception-handling.html#coroutineexceptionhandler) in the CoroutineScope of your API call?

I shall take a look at this over the weekend and see if I can reproduce this.

[2020-02-19 14:47] sebaslogen commented on #6
We don't have any CoroutineExceptionHandler, I also searched in the whole project just in case but nothing.

[2020-02-23 11:32] haroldadmin commented on #6
I'm not sure where exactly is the error swallowed, but this issue does highlight the need for a new subclass or `NetworkResponse`, which can be used for all errors that are not Network/Server errors. I've created a new `development` branch and just pushed a new release `4.0.0-alpha01` to it, which contains these changes.

I have added a new `NetworkResponse.UnknownError` class, which can be used f

[2020-02-23 11:46] sebaslogen commented on #6
Awesome, thanks! I'll give it a try and let you know.

[2020-02-23 12:16] sebaslogen commented on #6
Integration into our project worked fine and now it shows a correct error in the UI instead of swallowing the exception 👍
PS: I quickly reviewed the code of the fix and it looks 💯 good quality.

Thanks again for the fix and fast response.

[2020-02-23 12:30] haroldadmin commented on #6
I'm glad the fix works for you. I'm gonna keep it in alpha, and promote it to a stable release after some time. Closing this issue for now.

[2020-02-23 12:30] #6 closed

[2020-03-14 04:54] anupdey99 opened #7 "Unable to caught Json parsing Error"
val response = repository.getReportById(id)
            val x = when(response) {
                is NetworkResponse.Success -> {
                    liveData.postValue(response.body)
                     //Json parsing Error not called here
                }
                is NetworkResponse.ServerError -> {
                    //Json parsing Error not called here
                }

[2020-03-14 05:34] haroldadmin commented on #7
Hi, I am assuming you're using the 3.x version of the library. This issue was recently brought up in #6.

What ends up happening is that the JSON parsing exceptions are swallowed, and never returned as a `NetworkResponse` subclass. To fix it, there were some breaking changes made in [4.0.0-alpha01](https://github.com/haroldadmin/NetworkResponseAdapter/releases/tag/4.0.0-alpha01). A new subclass of

[2020-03-14 05:37] anupdey99 commented on #7
Yes, you are right. I am using "3.0.1" version. Thanks for quick response and good work! :)

[2020-03-14 07:39] haroldadmin commented on #7
No worries. The fix hasn't been merged to master yet. I want to wait a little more while before creating a new release with breaking changes.

[2020-04-04 16:37] francescogatto opened #8 "How to manage offline response?"
I'm trying to advise that the user is offline, but the adapter response always with UnknownError.
In this type of response i can0t access to the original raw respone, so I think it should be (in any error case) give to the caller.

![Schermata 2020-04-04 alle 18 41 13](https://user-images.githubusercontent.com/4219260/78456438-f1ff2b00-76a3-11ea-90a9-570fccaf9023.png)

I think the problem is the c

[2020-04-05 16:20] haroldadmin commented on #8
I am a little confused. If the user is offline, the Retrofit request should result in an IOException, and thus a `NetworkResponse.NetworkError`. If you are getting a response from the server, then the user is not offline.

Can you please elaborate your problem a little bit more so I can understand it better?

[2020-04-07 10:46] anupdey99 commented on #7
When can we accept new release?

[2020-04-07 11:34] haroldadmin commented on #7
Just released the new version. See the release tag [here](https://github.com/haroldadmin/NetworkResponseAdapter/releases/tag/4.0.0). It should be available on Jitpack within a few mins if everything goes well.

[2020-04-08 05:26] #7 closed

[2020-04-13 23:34] lucianocn opened #9 "[NF] Success with Empty Body (204) / Ignored Success Body"
Hi @haroldadmin ,
First of all, amazing library!

I am working on a new feature to adapt it to my project and I believe can be useful for other people.

- API requests can return 204 (no content) with an empty body and should be treated as a successful response.
- Ignored body on success may occur in REST requests, just relying on the status code. However, I would still need to parse unsuccessful

[2020-04-14 14:06] haroldadmin commented on #9
Hi! Thanks for bringing up this issue. I did not think of your use-case when writing the library, but it's great that you're adding support for it.

The changes would mainly be in the `DeferredNetworkResponseAdapter.kt` and `NetworkResponseCall.kt` files. The error handling code needs to be tweaked a little.

Please add tests for whatever new functionality you add, and let me know if you need any

[2020-04-30 08:38] garrytrue opened #10 "Simplify error parsing"
I think _HttpException.extractFromHttpException_ can return  _NetworkResponse.ServerError<E>_ instead if _NetworkResponse_.

And one more, you have broken test in _ErrorExtractionTest_

If you allow me I can make a PR with fixes

[2020-04-30 15:30] haroldadmin commented on #10
Thank you for pointing out the issue. I looked into the testing setup as a result and as it turns out, most of the tests are not being picked up by Gradle.

The project right now has 42 tests, but running `./gradlew clean test` only executes 18 of them. This is why I missed the broken test in `ErrorExtractionTest`. I have found there are a few other broken tests too which need fixing.

The reason

[2020-04-30 15:58] haroldadmin commented on #9
@lucianocn Are you still working on this? If not, please let me know so I can pick it up.

[2020-04-30 16:40] lucianocn commented on #9
Unfortunately I still haven't had time to work on this feature. If possible, I will be very grateful.

[2020-04-30 17:30] haroldadmin commented on #9
No worries, I'll try to make this change in a couple of days.

[2020-04-30 17:57] haroldadmin commented on #9
@lucianocn The `NetworkResponse.Success` class contains a `body` parameter which is of a non-null type. An empty response is treated as a null response, which means that I can not assign it as the value to the `body` parameter.

A hacky workaround for this would be to use some reflection magic and set a null value on it, but I don't think it's a good choice to fight the type-system of Kotlin just

[2020-05-09 19:29] haroldadmin commented on #10
Closed with #11

[2020-05-09 19:29] #10 closed

[2020-05-10 12:29] lukaszkalnik commented on #9
I haven't looked into the source code yet, but would returning `Unit` be an option for 204 responses?

[2020-05-10 15:24] lukaszkalnik commented on #9
Ok, I see it won't work as the return type is generic. Then the nullability would be the only option.
It would actually make sense, because what we're saying is "This is a generic CallAdapter for any response that can return an instance of the generic type `S`, including for responses which return no instance, hence `null`". Null in Java/Kotlin belongs to any type, so this is the only value which

[2020-05-11 06:59] haroldadmin commented on #9
I like the idea of representing empty response bodies with `Unit`. It is possible to add a special case to the call adapter to return `Unit` in the case of a null response body, provided that the success type of the service method is also declared as Unit:

[code]

What do you think @lucianocn @lukaszkalnik ?

[2020-05-11 07:19] lukaszkalnik commented on #9
This looks good, assuming the service is guaranteed to always return the same kind of response from the same call (i.e. it will always return either some data or 204 No Content, but mixing the one with another for one call is not allowed). Then the API user can declare some methods as returning `Unit` and others as returning his expected domain model datatype.

[2020-05-11 08:20] lucianocn commented on #9
Sounds good! I like it and I believe that `Unit` is the correct solution.

[2020-05-11 10:04] haroldadmin commented on #9
Great. I'll try to incorporate this change in the next release. Should be out in a few days I guess.

[2020-05-11 18:42] haroldadmin commented on #9
@lucianocn @lukaszkalnik These changes are added in PR #14. I'd appreciate any feedback that you might have on it. If things look good, I'll merge it and you can try it out in a SNAPSHOT build from Jitpack.

[2020-05-11 19:08] lucianocn commented on #9
I guess the second point in the main comment is not handled by ResponseHandler.kt:
- Ignored body on success may occur in REST requests, just relying on the status code. However, I would still need to parse unsuccessful responses (In that example APIs could have body but user just want to ignore it).

----------------------

What about?
[code]

[2020-05-11 19:53] haroldadmin commented on #9
I am having trouble understanding this use case. If a response is successful and you want the body to be ignored (even if it is non-empty) then you can just not consume it. If you want to indicate that this response's body will be ignored, then you can change the success type to be `Any`.

[code]

I think I might be missing something. Can you give me an example of this flow so that I can understan

[2020-05-11 20:09] lucianocn commented on #9
My bad, what you said makes sense. So PR #14 for me is approved 👍

[2020-05-11 20:12] haroldadmin commented on #9
@lucianocn I will add a status code field to the `NetworkResponse.Success` class. Maybe that would help in handling cases like the one you mention.

This field should have been there from the beginning, I guess.

[2020-05-11 20:15] lucianocn commented on #9
@haroldadmin that would be great!! 👍

[2020-05-12 04:59] haroldadmin commented on #9
Closed via #14

[2020-05-12 04:59] #9 closed

[2020-05-12 06:28] haroldadmin opened #15 "Add response code field to NetworkResponse.Success"
Suggested new definition of the class:

[code]

[2020-05-12 06:37] haroldadmin opened #17 "Update documentation for special case of successful responses with empty bodies"
PR #14 added the feature to handle successful responses with empty bodies, but the documentation on how to use it has not been updated yet. Add a section in the README, or maybe move it to the wiki.

[2020-05-13 07:42] #15 closed

[2020-06-28 06:05] #17 closed

[2020-07-02 07:25] foohwa opened #19 "204 No Content count as ServerError"
i am testing a loginApi, if user is not existed, it will return 204 no content. it supposed to be success response but it was fall under ServerError, do you know whats the issue here?

![image](https://user-images.githubusercontent.com/50357612/86329156-5c5e4200-bc78-11ea-8a22-7dacb960cc52.png)

[2020-07-02 07:33] #19 closed

[2020-07-02 10:18] haroldadmin commented on #19
Hi! Not sure if you still need help with this, but the reason why you are getting a `ServerError` on a 204 response code is that response body is null.

Empty bodies are kind of a special case. To make sure that this response gets classified as a `Success`, use `Unit` as the success type in `NetworkResponse`.

[code]

[2020-07-03 00:27] foohwa commented on #19
Hi @haroldadmin thanks for replying my post. I have closed it because i saw the previous PR already ahha. Btw i have one more question too, what if i want to get the response of the api too? its actually a login api, if api return 204 then the user is not registered, if success it return 200 and a response body

[2020-07-03 06:40] haroldadmin commented on #19
The `NetworkResponse` class can not be generic on multiple success types, and therefore there is no simple solution to your problem. You could look into using [moshi-sealed](https://github.com/ZacSweers/moshi-sealed) though. I have never tried it with NetworkResponseAdapter though, so I can not say if it will work or not.

[2020-07-03 06:41] haroldadmin commented on #19
If you would like to open a discussion on usage of moshi-sealed with this library, please open a separate issue :)

[2020-07-04 18:56] haroldadmin commented on #8
Closing due to inactivity.

[2020-07-04 18:56] #8 closed

[2020-07-15 08:59] ZiadLattoufSoffa opened #20 "Empty body on certain server errors"
I have some server errors that return empty bodies and the others return an error. Is there a way to handle this without returning a body on all my server errors ?

[2020-07-15 09:30] haroldadmin commented on #20
For errors which return a body, you can use `NetworkResponse` as usual.

For errors which do not return a body, it depends on what the `Content-Type` header value is. If the body is a string, then use [Retrofit Scalars Converter](https://github.com/square/retrofit/tree/master/retrofit-converters/scalars) and declare your error type as `String`

[code]

[2020-08-03 07:36] Sideness opened #21 "HTTP 204 No Content success status response code"
Hello,
When doing a PUT request, a lot of servers respond with a 204 no-content, considered by your library as a ServerError.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204
Do you think you could change that to SUCCESS?
Thanks a lot and have a nice day.

[2020-08-03 14:02] haroldadmin commented on #21
Empty bodies are handled as a special case by the library. Please use `Unit` as the success type for the endpoints where you receive an empty response.

[2020-08-03 14:23] Sideness commented on #21
Oops sorry, I didn't know. Thanks for the tip!
Have a nice day.

[2020-08-03 14:23] #21 closed

[2020-09-08 18:42] simonsickle opened #22 "Publish kdocs on gh-pages or some other site"
As a user of the library, I would like to see all of the documentation in an easy place such as github pages. This would allow me to see things not documented in the readme like the awesome support for backoff retries in the network response.

Since the library is open source, github actions could be used to do this automatically on push

[2020-09-15 16:56] DIG- opened #23 "Response status lost when error body parse fail"
When receiving an error response, if body parse fails we lose the reponse status code.
Since it is really a valid response, I think it is plausible to return as ServerError with empty body instead of UnknownError.

[2020-09-27 04:42] haroldadmin commented on #23
There's no way for NetworkResponseAdapter to know if the received response was valid or not. That's for your JSON deserialization library to handle.

If you can provide a small example here to illustrate your usecase, I can look into it. Otherwise, this is working as intended.

[2020-09-27 04:45] haroldadmin commented on #22
Excellent idea! I will try to setup a small documentation website today. I refrained from creating one earlier because the README contains basically all the information you need to know.

Having a website with docs, usage examples, and API reference would be awesome. I'll try to put something together over the weekend. No ETA though.

[2020-09-27 04:46] #20 closed

[2020-09-27 16:22] #22 closed

[2020-09-27 16:40] haroldadmin commented on #22
Project documentation is now available at https://haroldadmin.github.io/NetworkResponseAdapter/

[2020-09-28 12:31] simonsickle commented on #22
Thanks for this! I truly appreciate you doing this and the docs look awesome!

[2020-10-06 17:09] haroldadmin commented on #23
Makes sense. I'll try to experiment with a design in which `UnknownResponse` contains nullable headers and response code. Thanks for the example of your usecase!

[2020-11-18 11:46] ThanosFisherman commented on #23
I'm in an exact same situation here. Our Rest api throws different Error Json responses differentiated by their status code. I do not want to parse all of the error messages I just need to know the 4xx status code to act accordingly.

[2020-12-02 17:49] szsoftware opened #25 "Code 302 (Found after redirect) results in UnknownError + No chance to get header and body of the response."
https://github.com/haroldadmin/NetworkResponseAdapter/blob/76c3ae415dffbab45fe19e032800a00755d77603/src/main/kotlin/com/haroldadmin/cnradapter/ResponseHandler.kt#L37

This is a dependent issue to:
https://github.com/square/okhttp/issues/6456

Workaround: ResonseCodeInterceptor(302, 200)

    /**
     * @author szsoftware
     */
    class ResponseCodeInterceptor(private val from: Int, private val

[2020-12-04 02:21] haroldadmin commented on #25
Thanks for reporting the issue. This seems like an extension of #23 where information about the response is lost in `NetworkResponse.UnknownError`. The plan is to add nullable fields to the UnknownError type containing information about the response, such as headers or the raw response itself.

I can not give you an ETA on this, unfortunately. I would be happy to accept external contributions, tho

[2020-12-13 07:48] haroldadmin commented on #23
Sorry for the long wait on this issue. I spent some time investigating it today. Here are my findings:
1. It is possible to extract the status code and headers for a network request that results in `NetworkResponse.UnknownError`, but only if the status code lies outside 200-300 range.
2. If the status code indicates a successful response (200 <= code < 300), Retrofit tries to parse the response bo

[2020-12-13 08:17] #23 closed

[2020-12-13 08:17] #25 closed

[2021-02-03 04:38] panchalamitr opened #28 "NetworkResponse.ServerError: returns null message"
API send response when there is any error, like below

`{"message":"Missing Authentication Token"}`

To handle an error, I have made below class

`data class ErrorImages(@SerializedName("message") val message: String)`

When I debug below code

[code]

It always response like below

[code]

I need to show message, but I am not understanding why message always null

[2021-02-03 05:30] haroldadmin commented on #28
The problem seems to be in your JSON deserializer. From the `@SerializedName` annotation, I guess you are using Gson. Can you confirm if you have added [GsonConverterFactory](https://github.com/square/retrofit/tree/master/retrofit-converters/gson) to your Retrofit instance?

[2021-02-03 05:33] panchalamitr commented on #28
Hi, first of all thank you so much for immediate response,

Yes I have added, Below is my code

[code]

If Gson is not working, then it should also not work with SuccessResponse right, SuccessResponse is working fine and it is more complex then ErrorResponse.

[2021-02-03 05:52] panchalamitr commented on #28
I have used your library in my below code

`https://github.com/panchalamitr/SG_Live_Traffic_Demo`

[2021-02-03 06:30] haroldadmin commented on #28
In your DI setup, you configure Gson to [exclude fields without `@Expose` annotation](https://github.com/panchalamitr/SG_Live_Traffic_Demo/blob/b827b08ee3653c7739ecc271b0e933589536a716/app/src/main/java/com/panchalamitr/sglivetraffic/di/RetrofitInstance.kt#L28)

In your `ErrorTrafficImages` class, the `message` property [does not have `@Expose`](https://github.com/panchalamitr/SG_Live_Traffic_Demo

[2021-02-03 06:44] panchalamitr commented on #28
Thank you so much for your support :)

I have first used my code without @Expose, but with that also code was not working,

I have removed excludeFieldsWithoutExposeAnnotation() as well as all Expose annotation from all data,

But still I am getting same error.

[2021-02-06 11:23] haroldadmin commented on #28
I cloned your repository to try it on my system.

I added an OkHttp interceptor to simulate an API response with error code 403, and body set to `{"message":"Missing Authentication Token"}`.

The response was deserialized correctly.

Here's the response I caught in the debugger:
![image](https://user-images.githubusercontent.com/24315306/107116771-8d03fb00-689b-11eb-8f6a-4e5405c682d3.png)

Here's

[2021-02-10 06:06] panchalamitr commented on #28
I am closing this issue, as it is working perfect.

[2021-02-10 06:06] #28 closed

[2021-02-12 07:12] KostyaGig opened #29 "Get data frrom Retrofit with обработкой Error and Success"
Wow

[2021-02-12 08:00] haroldadmin commented on #29
Hello, do you have a question or a bug report?

Please share more details.

[2021-02-15 06:10] #29 closed

[2021-03-04 13:48] iyashamihsan commented on #28
im also getting null in ServerError after API call
@panchalamitr  can you tell me how do you solve this issue ?

[2021-03-04 13:53] panchalamitr commented on #28
Hi @iyashamihsan, after getting some comments to this issue, I have tested my code again, after few days and surprisingly it started to works so I have marked as closed. Still don’t have idea why I was getting null

[2021-03-04 16:44] haroldadmin commented on #28
If you could provide a sample project which consistently reproduces this issue, I'd be very happy to take a look at it @iyashamihsan

[2021-04-30 09:45] gilgoldzweig opened #34 "V5.0"
I opened an issue so we can discuss what changes can and or should be make in v5.0.

edit:
I wanted to label the “issue” but I can't

[2021-05-03 14:02] allanserre opened #36 "NetworkResponse Error Managing"
When i get a "204 No content" response from my API , NetWorkResponse consider it as a server error. But it should be a SUCCESS response. As describe in the ReadMe a response code 2xx is consider as successfull.

[2021-05-04 07:43] haroldadmin commented on #36
If your API response contains no body, please use `Unit` as the success body type.

[code]

This has been documented [here](https://haroldadmin.github.io/NetworkResponseAdapter/special-cases/).

[2021-05-04 08:05] allanserre commented on #36
Thank for your an

[2021-05-04 08:05] #36 closed

[2021-05-04 08:36] haroldadmin commented on #36
I think it just means that docs need to be better :sweat_smile:

[2021-05-09 08:43] haroldadmin commented on #34
Thank you for creating this issue. We'll use it as the place to plan new features for a v5.0 release.

## Switch to sealed interfaces

Kotlin 1.5 brings [sealed interfaces](https://kotlinlang.org/docs/sealed-classes.html) support. Using `NetworkResponse` with sealed interfaces would allow greater flexibility in dividing the `Success` and `Error` types. The current `Error` interface in the library

[2021-05-09 09:28] gilgoldzweig commented on #34
Perfect.
I would also love to see a `completable` state i.e success with unit but
without needing to specify it as `Response<Unit>`

Maybe something like a `Completable` type alias.

On Sun, May 9, 2021, 11:43 Kshitij Chauhan ***@***.***> wrote:

[2021-05-11 00:40] argenkiwi opened #37 "Success code 204 (no content) returns server error"
When calling an endpoint that can produce 204 (no content) success codes, meaning the response is successful but no body is returned, the response is `ServerError` while it should be `Success`.

[2021-05-11 00:49] argenkiwi commented on #34
I've also raised an issue related to 204 responses, which are success response which have no body. I noticed we check if the body is not null to determine whether we have a success or a server error response. Maybe we need another success representation without a body, which hopefully could be solved with sealed interfaces as well.

[2021-05-11 05:29] haroldadmin commented on #34
@argenkiwi https://github.com/haroldadmin/NetworkResponseAdapter/issues/36

[2021-05-11 05:30] #37 closed

[2021-06-24 09:29] RobertLK opened #38 "NetworkResponseAdapterFactory crashes on unhandled response types"
The check here: https://github.com/haroldadmin/NetworkResponseAdapter/blob/master/src/main/kotlin/com/haroldadmin/cnradapter/NetworkResponseAdapterFactory.kt#L14 will cause a crash if consumer uses other response types that can be handled by different factories but aren't parameterised (such as Completeable type with RxJava adapter). Retrofit's convention here is to return null when a factory real

[2021-06-24 15:20] haroldadmin commented on #38
Thanks for catching this. I'll try to get a fix out for this soon, but can't promise an ETA.

[2021-06-25 15:08] javaboboApp opened #39 "ResponseHandler should allow to pass our own converter"
ResponseHandler should allow to pass our own converter NullOnEmptyConverterFactory extends Converter.Factory.
I am not able to deal with reponses 204 using GET method and empty body because of this.

[2021-06-26 04:37] haroldadmin commented on #39
If your response has an empty body, use the `Unit` as the success response type. See [here](https://haroldadmin.github.io/NetworkResponseAdapter/special-cases/)

[2021-06-27 07:17] javaboboApp commented on #39
That is true but what happens when api returns sometimes 204 and other times an json object. We get an error...

[2021-06-27 07:19] javaboboApp commented on #39
It would be better if you add another response such us Success (header..) without body and other with body, so developer have control about this kind of situations.

[2021-06-29 15:08] ninovanhooff opened #40 "moshi exception incorrectly classified as network error"
When using mosh to parse invalid json, a com.squareup.moshi.JsonEncodingException might be produced.

Contrary to the readme and documentation, this is wrapped in a NetworkResponse.NetworkError rather than an UnknownError

Either update the docs or the code, but at least make clear what we can expect ;-)

[2021-06-30 03:03] jsdeyro opened #41 "NetworkResponse.UnknownError"
Is there a way to log the actual error for the NetworkResponse.UnknownError.

[2021-06-30 14:23] haroldadmin commented on #40
Hi, thanks for reporting this. There is [logic in the library](https://github.com/haroldadmin/NetworkResponseAdapter/blob/16cc117af105d916d048e145677a0e687a52e461/src/main/kotlin/com/haroldadmin/cnradapter/ResponseHandler.kt#L59) to catch unknown exceptions such as the ones produced during JSON deserialization.

Since that check doesn't handle the error in your case, would it be possible for you t

[2021-06-30 14:30] haroldadmin commented on #39
I'm not sure what's the best way to handle your usecase. If your API response is unpredictable, it might be best to not use the `NetworkResponse` class as its return type. You could instead return an `Any` from your API interface, and perform checks at runtime to identify the type of response.

Response converter factories usually don't accept other response converters as input parameters. If you

[2021-07-02 10:12] jsdeyro commented on #41
Thank you for the info.

[2021-07-02 10:12] #41 closed

[2021-07-03 11:48] #38 closed

[2021-07-07 08:01] javaboboApp commented on #39
umm I see yeah is another way to solve this issue but what I have done in this case is add a new type of success response called: SuccessWithEmptyBody so I just have modified library to support this kind of situation.

[2021-07-07 11:59] #39 closed

[2021-07-09 07:20] clmno opened #44 "How to handle responses with 200 **AND** 204 (No Content)"
We can handle a 204 with

[code]

But here the response can only be `Unit`. But what if I can have a 200 responses when there is _new content_ and 204 when there is no new content?

[2021-07-21 16:41] Sharkaboi commented on #44
I think it will return a `ServerError` as stated [here](https://github.com/haroldadmin/NetworkResponseAdapter/blob/adb4dd6f6c990802c014d8a3bc12aa3b9f4002c0/src/main/kotlin/com/haroldadmin/cnradapter/ResponseHandler.kt#L41) if the response has success code, but the body is `null` and return class isn't `Unit`.
So, if you wanted to handle that case you could do something like this :
[code]

[2021-07-21 16:49] clmno commented on #44
@Sharkaboi Yes this works. But I was asking if this would be a good feature to have. Maybe raise a PR. But got engaged with other stuff.
Thanks again.

[2021-07-21 16:49] #44 closed

[2021-07-28 15:25] rahat14 opened #45 "How To Handle Error Response ?"
NetworkResponse<LoginResponse, ErrorResponse> . where to acess the ErrorResponse model i created
 when (person) {
        is NetworkResponse.Success -> {
            // Handle successful response
        }
        is NetworkResponse.ServerError -> {
            // Handle server error
        }
        is NetworkResponse.NetworkError -> {
            // Handle network error
        }
        is Net

[2021-07-28 15:44] haroldadmin commented on #45
Hi, as stated in the [documentation](https://haroldadmin.github.io/NetworkResponseAdapter), the `ServerError` subtype of `NetworkResponse` contains the deserialized error body from the server (`ErrorResponse` in your case). You can access it using the [`body`](https://github.com/haroldadmin/NetworkResponseAdapter/blob/adb4dd6f6c990802c014d8a3bc12aa3b9f4002c0/src/main/kotlin/com/haroldadmin/cnradap

[2021-07-28 16:02] rahat14 commented on #45
@haroldadmin  i am sorry i found out that  . cant i use this library without suspend functiuon like this ->
   @FormUrlEncoded
    @POST("login")
     fun loginUser(
        @Field("phone") phone: String,
        @Field("password") password: String
    ): NetworkResponse<LoginResponse, ErrorResponse>

[2021-07-28 16:12] haroldadmin commented on #45
The library is based on Coroutines. If you can't use suspend functions, you could try using the `Deferred` return type. `Deferred` is Kotlin's Future/Promise type that completes with a value eventually.

[code]

[2021-07-28 16:30] rahat14 commented on #45
OK. Thnx Closing This Now

[2021-07-28 16:30] #45 closed

[2021-09-02 02:25] argenkiwi opened #46 "When expression with Success and Error is not exhaustive"
With the current implementation of `NetworkResponse`, the following expression would not compile:
[code]
If `NetworkResponse` was a sealed interface and `Error` was also a sealed interface that implemented `NetworkResponse`, the above expression would compile. I'd be happy to submit a pull request for this adjustment if I was accepted as a contributor.

[2021-09-02 04:45] haroldadmin commented on #46
Thank you for the suggestion. Issue #34 describes (amongst other things) the plan for this library to move to sealed interfaces so this is definitely on the list of improvements we can make.

You're right, the code snippet you provided won't compile because the `when` expression is not exhaustive. I'm not sure if converting to sealed interface would be a breaking change for users of the current ve

[2021-09-02 20:21] argenkiwi commented on #46
Sure, I can submit the pull request to the v5 branch if you have any concerns about backwards compatibility. The only requirement should be to Kotlin 1.5 to support sealed interfaces. I wouldn't expect any issues otherwise.

[2021-09-03 04:51] haroldadmin commented on #46
Thanks! Looking forward to reviewing the PR.

[2021-09-13 04:41] haroldadmin commented on #46
Closing with #47

[2021-09-13 04:41] #46 closed

[2021-09-23 09:59] francescogatto opened #48 "Error when app is builded in release mode"
Hi!
I have this error while trying to use an API with my app:

[code]
With mapping file l9.i() is com.haroldadmin.cnradapter.NetworkResponse -> l9.i

i m using the last stable AS arctic fox, with the latest Gradle plugin.
I don't have this error with  Gradle 6.7.1 and kotlin 1.5.10

[2021-11-12 17:04] croccio opened #49 "Retrofit mock"
How can i mock the response with retrofit mock? i did something like this but i get NetworkResponse$NetworkError cannot be cast to LoginResponseSuccess/Error

`
class MockService(val delegate: BehaviorDelegate<Service>) : Service {

    override suspend fun login(body: LoginRequest):
            NetworkResponse<LoginResponseSuccess, LoginResponseError> {

        var response: NetworkResponse<Logi

[2021-11-15 04:21] haroldadmin commented on #49
I'm not sure what the `BehaviorDelegate` does, but the rest of the code sample you provided looks okay. Can you share more details about the delegate or a small sample project to reproduce this problem?

[2021-11-15 08:49] croccio commented on #49
thanks, i resolved it i'll write here solution so if someone has the same problem can fix it. You have to return directly the NetworkResponse. so the new code looks like this:

`
override suspend fun login(body: LoginRequest):
        NetworkResponse<LoginResponseSuccess, LoginResponseError> {

    var response: NetworkResponse<LoginResponseSuccess, LoginResponseError>? = null

    if (body.userna

[2021-11-15 08:50] #49 closed

[2021-11-22 01:59] argenkiwi commented on #34
Looking forward to the v5 release. When Kotlin 1.7 enforces exhaustive when statements, the sealed interfaces change will make a nice difference.

[2021-11-29 11:57] haroldadmin commented on #34
I've been working on v5.0 for the past couple of weekends. I might be able to provide you with an update before the holiday season starts, but no promises :)

[2021-12-05 05:54] haroldadmin commented on #44
Consider this example:

[code]

When the server responds with a 2xx status code and a `Post` in the body, everything works well, but things get complicated when it responds with a null body.

In this scenario we have to decide whether you expected a null body or not.
- If you expected it, then you should indicate it with a `Unit` success type, and the library happily treat it as a success case.
-

[2021-12-16 12:26] #34 closed

[2022-01-02 18:17] hmshohrab opened #54 "How to run this source code in Android Studio???"
How to run this source code in Android Studio????
 please help

[2022-01-03 03:59] haroldadmin commented on #54
Can you describe your issue in more detail?

If your question is about how to install this library in an Android project, follow the instructions in the [README](https://github.com/haroldadmin/networkresponseadapter/blob/master/README.md):
1. Add Jitpack to your root level `build.gradle` file:
[code]
2. Add a dependency for this library in your app module:
[code]

If your question is about how to

[2022-01-05 13:44] Sanat-Shukla commented on #54
@haroldadmin getting:
Failed to resolve: com.github.haroldadmin:NetworkResponseAdapter:5.0.0-alpha01
Failed to resolve: com.github.haroldadmin:NetworkResponseAdapter:4.2.2

[2022-01-06 04:39] haroldadmin commented on #54
Have you added the Jitpack repository to your `build.gradle` file?

[code]

[2022-01-06 08:17] Sanat-Shukla commented on #54
Yes @haroldadmin

[2022-01-06 10:07] Sanat-Shukla commented on #54
@haroldadmin Need to add this into the settings.gradle. allProjects{} block is removed from the updated version of gradle. It's working fine now with the settings.gradle.

[2022-01-06 11:21] haroldadmin commented on #54
I didn't know that `allProjects` config block is removed from Gradle. I can't find the release notes or a blog post on this change. Can you please share any resource containing this news? I'd like to update the README file with the correct instructions.

[2022-01-06 11:36] Sanat-Shukla commented on #54
@haroldadmin Got the details from the stackoverflow: https://stackoverflow.com/a/69794803/2024527

[2022-01-06 12:37] Sanat-Shukla commented on #54
@haroldadmin Got the details from the stackoverflow: https://stackoverflow.com/a/69794803/2024527
Don't know about official doc but it's working with the settings.gradle and having issue in allProjects{}.

Working solution:

[code]

[2022-01-10 03:58] shohrabminisoftpark opened #55 "Are there any projects that have used this library? (open source)"
Are there any projects that have used this library?

[2022-01-10 05:24] haroldadmin commented on #55
According to Jitpack stats this library has more than 15k monthly downloads so I imagine there are quite a few projects using it.

![Screenshot 2022-01-10 at 10 39 53 AM](https://user-images.githubusercontent.com/24315306/148720724-8b26dd76-71a7-4357-90d9-ef16cf53a56e.png)

Other endorsements:
- The Android app for [SkipTheDishes](https://www.skipthedishes.com/) uses this library (source: Twitter

[2022-01-10 05:48] haroldadmin commented on #55
If any open source projects that use this library would like their name to be featured in the documentation, please comment on this issue with your project's details.

[2022-01-24 05:29] Musfick commented on #55
i am using this..this is a life saver library take love bro <3

[2022-01-26 08:49] haroldadmin commented on #48
Closing this due to lack of a response. Feel free to re-open if you continue to have this issue.

[2022-01-26 08:49] #48 closed

[2022-01-26 08:49] haroldadmin commented on #40
Closing this due to a lack of response. Feel free to re-open if you continue to have this problem.

[2022-01-26 08:49] #40 closed

[2022-02-16 06:27] haroldadmin commented on #54
Closing this due to lack of response from OP

[2022-02-16 06:27] #54 closed

[2022-03-11 23:13] williamwebb opened #58 "Binaries not available on Maven Central"
Publishing binaries to Maven Central, the industry standard maven repository, would be beneficial for users in cases where jetpack.io can not be used.

[2022-03-21 10:27] haroldadmin commented on #58
Hi, I'll investigate setting up a Maven Central repository for this library, but can't promise any ETAs.

[2022-04-04 05:04] factorx22 commented on #55
Thank you very much for this great library, it makes my life easier

[2022-04-04 11:54] donnfelker opened #59 "5.0.0 is not backwards compatible"
Hey @haroldadmin I use your library and unfortunately the 5.0.0 changes are not fully backwards compatible.

If you have tests that use the `code` on the `NetworkResponse` model then your tests will break (as mine did) and you'll have to replace `code` with an actual Response instance.

Example (for those who run into this):

**Pre 5.0.0 code with mockito:**
* Success:
`whenever(apiService.signOut

[2022-04-04 13:05] haroldadmin commented on #59
Hey Donn! Thanks for reporting the issue.

You're right, this is a breaking change. I didn't expect consumers would manually instantiate `NetworkResponse`, which seems obvious in hindsight.

I'll create a `CHANGELOG.md` file with this info, and also update the [Upgrade Guide](https://haroldadmin.github.io/NetworkResponseAdapter/upgrade-guides/v5/).

[2022-04-05 02:56] #59 closed

[2022-04-20 06:52] sivansundar opened #61 "Adding NetworkResponseAdapterFactory to your Retrofit client in Java"
Hey @haroldadmin!

First of all, sweet library. Makes things very standardized and thats a win.

Been using this in my side projects for a while now and its great! One of my project is in migration to Kotlin and codebase is in transition so there are some files/modules written in Java.

I was trying to add the NetworkResponseAdapterFactory to my RetrofitClient (written in Java) but unfortunately t

[2022-04-20 08:01] haroldadmin commented on #61
Hey, I'm glad you find the project useful!

I haven't tested the library for Java compatibility. I imagine it's going to be pretty difficult, given that it uses Kotlin features extensively (sealed classes, coroutines, etc.).

That being said, I reproduced the issue you reported. Java does not recognize `NetworkResponseAdapterFactory()` as a valid `CallAdapter.Factory`.

A short workaround is to us

[2022-04-20 08:55] sivansundar commented on #61
Thanks for the quick response @haroldadmin. Will try this out for and let you know how it goes. The idea is to eventually pivot to kotlin completely which could make things so much more easier. Thanks once again.

[2022-05-02 03:07] haroldadmin commented on #61
Closing this issue. Please reopen it if you need more help.

[2022-05-02 03:07] #61 closed

[2022-07-25 16:13] andr3aLucch3si85 opened #62 "Excpetion: Unable to create call adapter when I try to use with Retrofit and Moshi"
Hi,
I'm trying ot use your library with Moshi for parsing a json.
Here my models

[code]

Here the Retrofit interface for call API server

[code]

Finally the functions that returns the Retrofit service

[code]

When I start the application I get this error: `Exception Unable to create call adapter for retrofit2.Call<com.haroldadmin.cnradapter.NetworkResponse<it.inera.mnu.models.DataModel, it.iner

[2022-07-25 16:31] #62 closed

[2022-07-25 16:31] andr3aLucch3si85 commented on #62
I found the problem. I forgot to add @JsonClass(generateAdapter = true) on class ErrorResponse

[2022-09-15 19:44] rcfrias commented on #58
Still not available, any workaround?